.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 1rem;
}

.reset-button {
  background-color: #2d68ff;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #4277ff;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 16rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 #eee;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
